<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}
        <label for='title'>Title</label>
        <input type="text" name="title" id="title">
        <label for="Description">Description</label>
        <input type="text" name="description" id="description">
        <button type="submit">Created Notepad</button>
    </form>
</body>

</html>